@font-face {
  font-family: 'HevelticaNeue';
  src: url(../fonts/helveticaneue-regular.ttf);
}

@font-face {
  font-family: 'HevelticaNeueBd';
  src: url(../fonts/HelveticaNeueBold.ttf);
}

@font-face {
  font-family: 'HevelticaNeueMd';
  src: url("../fonts/HelveticaNeueMedium.ttf");
}

html {
  box-sizing: border-box;
  font-family: 'HevelticaNeue';
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 315px;
  margin: 0 auto;
  width: 95%;
}

@media screen and (min-width: 480px) {
  .wrapper {
    max-width: 600px;
  }
}

@media screen and (min-width: 992px) {
  .wrapper {
    max-width: 100%;
  }
}

.btn {
  border-radius: 26.5px;
  text-decoration: none;
  padding: .8em 1em;
  font-family: "HevelticaNeueBd";
  font-size: 8px;
  letter-spacing: 1.01px;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .btn {
    font-size: 10px;
  }
}

@media screen and (min-width: 992px) {
  .btn {
    font-size: 13px;
    padding: 15px 30px;
  }
}

.btn span {
  margin-left: 5px;
  font-size: 13px;
}

@media screen and (min-width: 992px) {
  .btn span {
    margin-left: 50px;
  }
}

.btn-prim {
  color: white;
  border: 1px solid white;
  transition: all .5s linear;
}

.btn-prim:hover {
  color: #cbe346;
  border-color: #cbe346;
}

.btn-sec {
  color: #282e47;
  border: 1px solid #282e47;
  transition: all .5s linear;
}

.btn-sec:hover {
  background-color: #282e47;
  color: white;
}

.site-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 8px;
  padding-bottom: 15px;
  z-index: 2000;
}

@media screen and (min-width: 480px) {
  .site-nav {
    padding-top: 16px;
  }
}

@media screen and (min-width: 992px) {
  .site-nav {
    padding-top: 0;
  }
}

.site-nav .wrapper {
  display: flex;
  justify-content: space-between;
}

.site-nav .wrapper .logo {
  display: none;
}

@media screen and (min-width: 992px) {
  .site-nav .wrapper .logo {
    display: inline-block;
    padding: 25px 25px 25px 0;
  }
  .site-nav .wrapper .logo img {
    width: 37px;
  }
}

@media screen and (min-width: 992px) {
  .site-nav .wrapper .hamburguer {
    display: none;
  }
}

.site-nav .wrapper .hamburguer a {
  width: 100%;
}

.site-nav .wrapper .hamburguer a i {
  color: white;
  font-size: 25px;
}

.site-nav .wrapper .nav {
  position: absolute;
  transform: translate(-400%);
  transition: all .5s ease-out;
  height: 100vh;
}

.site-nav .wrapper .nav.active {
  transform: translate(0);
  top: 0;
  left: 0;
  background-color: #cbe346;
  width: 50%;
  height: 100vh;
}

@media screen and (min-width: 992px) {
  .site-nav .wrapper .nav {
    position: relative;
    transform: translate(0);
    justify-self: flex-start;
    display: flex;
    padding-top: 45px;
    margin-left: 67px;
    width: 100%;
    height: auto;
  }
  .site-nav .wrapper .nav.active {
    top: auto;
    left: auto;
    background-color: transparent;
    width: 100%;
    height: auto;
  }
}

.site-nav .wrapper .nav li {
  padding: 20px 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
}

@media screen and (min-width: 992px) {
  .site-nav .wrapper .nav li {
    padding: 0;
    text-align: left;
    text-transform: none;
    margin-right: 50px;
  }
  .site-nav .wrapper .nav li #btnCloseMenu {
    display: none;
  }
  .site-nav .wrapper .nav li:last-of-type {
    margin-right: 0;
  }
}

.site-nav .wrapper .nav li a {
  color: #282e47;
  font-size: 16px;
  letter-spacing: 1.5px;
  text-decoration: none;
  transition: all .3s linear;
}

@media screen and (min-width: 992px) {
  .site-nav .wrapper .nav li a {
    color: white;
  }
}

.site-nav .wrapper .nav li a.active {
  font-family: "HevelticaNeueBd";
}

.site-nav .wrapper .nav li a:hover {
  color: white;
  font-family: "HevelticaNeueBd";
}

@media screen and (min-width: 992px) {
  .site-nav .wrapper .nav li a:hover {
    color: #cbe346;
  }
}

.site-nav .wrapper .language {
  display: inline-block;
}

@media screen and (min-width: 992px) {
  .site-nav .wrapper .language {
    display: block;
    flex: 0 0 50px;
    justify-self: flex-end;
    padding-top: 45px;
    transform: translate(-30%);
  }
}

.site-nav .wrapper .language a {
  text-decoration: none;
  color: white;
  transition: all .3s linear;
}

.site-nav .wrapper .language a:hover {
  color: #cbe346;
}

.hero {
  background-image: url(../img/hero.png);
  background-size: cover;
  height: 206px;
  position: relative;
}

@media screen and (min-width: 480px) {
  .hero {
    height: 400px;
  }
}

@media screen and (min-width: 992px) {
  .hero {
    height: 785px;
  }
  .hero::after {
    content: '';
    width: 2px;
    height: 785px;
    position: absolute;
    top: 0;
    left: 8%;
    background-color: white;
  }
}

.hero .wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.hero .wrapper .content {
  width: 80%;
}

@media screen and (min-width: 992px) {
  .hero .wrapper .content {
    width: 50%;
    transform: translate(18%, 0);
  }
}

.hero .wrapper .content .tittle {
  font-size: 20px;
  color: white;
  margin-bottom: 16px;
}

@media screen and (min-width: 480px) {
  .hero .wrapper .content .tittle {
    font-size: 40px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 992px) {
  .hero .wrapper .content .tittle {
    font-size: 53px;
    line-height: 68px;
  }
}

.hero .wrapper .content .tittle span {
  color: #cbe346;
  font-family: "HevelticaNeueBd";
}

.history {
  background-color: #f3f4f8;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .history {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 992px) {
  .history {
    padding-top: 75px;
    padding-bottom: 67px;
  }
}

@media screen and (min-width: 992px) {
  .history .wrapper {
    display: flex;
    justify-content: center;
  }
}

.history .wrapper .content {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 992px) {
  .history .wrapper .content {
    width: 100%;
  }
}

.history .wrapper .content .left {
  flex-basis: 34px;
}

@media screen and (min-width: 480px) {
  .history .wrapper .content .left {
    flex-basis: 60px;
  }
}

@media screen and (min-width: 992px) {
  .history .wrapper .content .left {
    text-align: right;
    flex-basis: 20%;
    padding-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .history .wrapper .content .left {
    flex-basis: 25%;
  }
}

.history .wrapper .content .left p {
  color: #cbe346;
  font-size: 8px;
  letter-spacing: 1.87px;
  font-family: "HevelticaNeueMd";
  line-height: 30px;
}

@media screen and (min-width: 480px) {
  .history .wrapper .content .left p {
    font-size: 13px;
  }
}

@media screen and (min-width: 992px) {
  .history .wrapper .content .left p {
    font-size: 15px;
  }
}

.history .wrapper .content .right-container {
  flex-basis: calc( 100% - 64px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .history .wrapper .content .right-container {
    flex-basis: calc( 100% - 60px);
  }
}

@media screen and (min-width: 992px) {
  .history .wrapper .content .right-container {
    flex-basis: calc(80% - 40px);
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .history .wrapper .content .right-container {
    flex-basis: calc( 75% - 50px);
  }
}

.history .wrapper .content .right-container .center {
  margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
  .history .wrapper .content .right-container .center {
    flex-basis: 555px;
  }
}

.history .wrapper .content .right-container .center .subtittle {
  font-size: 25px;
  margin-bottom: 10px;
  color: #1e2335;
}

@media screen and (min-width: 480px) {
  .history .wrapper .content .right-container .center .subtittle {
    font-size: 30px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 992px) {
  .history .wrapper .content .right-container .center .subtittle {
    font-size: 50px;
  }
}

.history .wrapper .content .right-container .center .description {
  font-size: 18px;
  color: #787878;
  line-height: 32px;
  letter-spacing: 0.51px;
}

@media screen and (min-width: 480px) {
  .history .wrapper .content .right-container .center .description {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  .history .wrapper .content .right-container .center .description {
    width: 393px;
    font-size: 18px;
    letter-spacing: 0.51px;
    line-height: 32px;
  }
}

@media screen and (min-width: 992px) {
  .history .wrapper .content .right-container .right {
    transform: translate(-80%, -207%);
    align-self: flex-end;
  }
}

.history .wrapper .content .right-container .right .btn-historia {
  font-family: "HevelticaNeueMd";
}

@media screen and (min-width: 992px) {
  .history .wrapper .content .right-container .right .btn-historia {
    padding: 10px 20px;
  }
}

@media screen and (min-width: 1200px) {
  .history .wrapper .content .right-container .right .btn-historia {
    padding: 15px 30px;
  }
}

.products .sliders-container {
  display: flex;
}

.products .sliders-container .swiper-container {
  flex-basis: 100%;
  margin: 0;
  position: relative;
}

.products .sliders-container .swiper-container .swiper-wrapper .swiper-slide {
  display: flex;
}

.products .sliders-container .swiper-container .swiper-wrapper .swiper-slide .option-image-container {
  flex-basis: 50%;
  height: 180px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .products .sliders-container .swiper-container .swiper-wrapper .swiper-slide .option-image-container {
    height: auto;
  }
}

@media screen and (min-width: 992px) {
  .products .sliders-container .swiper-container .swiper-wrapper .swiper-slide .option-image-container {
    flex: 0 0 530px;
    height: 468px;
  }
}

.products .sliders-container .swiper-container .swiper-wrapper .swiper-slide .option-image-container img {
  height: 180px;
  filter: brightness(0.6);
}

@media screen and (min-width: 480px) {
  .products .sliders-container .swiper-container .swiper-wrapper .swiper-slide .option-image-container img {
    height: auto;
  }
}

.products .sliders-container .swiper-container .swiper-wrapper .swiper-slide .option-image-container .option-text-container {
  padding-top: 10px;
  padding-right: 15px;
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
}

@media screen and (min-width: 768px) {
  .products .sliders-container .swiper-container .swiper-wrapper .swiper-slide .option-image-container .option-text-container {
    padding-right: 20px;
    padding-top: 10%;
  }
}

@media screen and (min-width: 992px) {
  .products .sliders-container .swiper-container .swiper-wrapper .swiper-slide .option-image-container .option-text-container {
    padding-top: 38px;
  }
}

.products .sliders-container .swiper-container .swiper-wrapper .swiper-slide .option-image-container .option-text-container .option-tittle {
  font-size: 20px;
  color: white;
}

@media screen and (min-width: 480px) {
  .products .sliders-container .swiper-container .swiper-wrapper .swiper-slide .option-image-container .option-text-container .option-tittle {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  .products .sliders-container .swiper-container .swiper-wrapper .swiper-slide .option-image-container .option-text-container .option-tittle {
    font-size: 40px;
  }
}

@media screen and (min-width: 992px) {
  .products .sliders-container .swiper-container .swiper-wrapper .swiper-slide .option-image-container .option-text-container .option-tittle {
    font-size: 50px;
    line-height: 64px;
  }
}

.products .sliders-container .swiper-container .swiper-wrapper .swiper-slide .option-image-container .option-text-container .option-tittle span {
  text-transform: capitalize;
  font-family: "HevelticaNeueBd";
}

.products .sliders-container .swiper-container .swiper-wrapper .swiper-slide .option-image-container .option-text-container .option-description {
  font-size: 10px;
  color: white;
}

@media screen and (min-width: 480px) {
  .products .sliders-container .swiper-container .swiper-wrapper .swiper-slide .option-image-container .option-text-container .option-description {
    font-size: 13px;
  }
}

@media screen and (min-width: 768px) {
  .products .sliders-container .swiper-container .swiper-wrapper .swiper-slide .option-image-container .option-text-container .option-description {
    font-size: 16px;
    width: 80%;
  }
}

@media screen and (min-width: 992px) {
  .products .sliders-container .swiper-container .swiper-wrapper .swiper-slide .option-image-container .option-text-container .option-description {
    font-size: 18px;
    line-height: 30px;
    width: 80%;
    padding-top: 10px;
  }
}

.products .sliders-container .swiper-container .swiper-wrapper .swiper-container.swiper-articles {
  flex-basis: 50%;
  max-height: 100%;
}

@media screen and (min-width: 992px) {
  .products .sliders-container .swiper-container .swiper-wrapper .swiper-container.swiper-articles {
    max-height: 100%;
    flex: 1 1 auto;
  }
}

.products .sliders-container .swiper-container .swiper-wrapper .swiper-container.swiper-articles .swiper-slide {
  margin-right: 10px;
  margin-left: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.products .sliders-container .swiper-container .swiper-wrapper .swiper-container.swiper-articles .swiper-slide .article {
  display: flex;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 992px) {
  .products .sliders-container .swiper-container .swiper-wrapper .swiper-container.swiper-articles .swiper-slide .article {
    margin-left: 20px;
    width: 288px;
    height: 344px;
    cursor: pointer;
  }
  .products .sliders-container .swiper-container .swiper-wrapper .swiper-container.swiper-articles .swiper-slide .article:hover {
    transform: scale(1.2);
    z-index: 1000;
  }
}

.products .sliders-container .swiper-container .swiper-wrapper .swiper-container.swiper-articles .swiper-slide .article::after {
  content: '1';
  position: absolute;
  top: 8%;
  left: 8%;
  background-color: #cbe346;
  padding: .5em;
  border-radius: 100%;
  line-height: 8.906px;
}

@media screen and (min-width: 768px) {
  .products .sliders-container .swiper-container .swiper-wrapper .swiper-container.swiper-articles .swiper-slide .article::after {
    padding: 1em;
    top: 13%;
    left: 5%;
  }
}

@media screen and (min-width: 768px) {
  .products .sliders-container .swiper-container .swiper-wrapper .swiper-container.swiper-articles .swiper-slide .article img {
    width: 90%;
  }
}

@media screen and (min-width: 768px) and (min-width: 992px) {
  .products .sliders-container .swiper-container .swiper-wrapper .swiper-container.swiper-articles .swiper-slide .article img {
    max-width: 100%;
    width: 100%;
  }
}

.products .sliders-container .swiper-container .swiper-wrapper .swiper-container.swiper-articles .swiper-slide:nth-child(2) .article::after {
  content: '2';
}

.products .sliders-container .swiper-container .swiper-wrapper .swiper-container.swiper-articles .swiper-slide:nth-child(3) .article::after {
  content: '3';
}

.products .sliders-container .swiper-container .swiper-pagination-bullets {
  position: absolute;
  top: 55%;
  left: 15%;
  width: auto;
}

@media screen and (min-width: 768px) {
  .products .sliders-container .swiper-container .swiper-pagination-bullets {
    left: 17%;
  }
}

@media screen and (min-width: 1280px) {
  .products .sliders-container .swiper-container .swiper-pagination-bullets {
    left: 13%;
    top: 58%;
  }
}

@media screen and (min-width: 768px) {
  .products .sliders-container .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
}

.products .sliders-container .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: white;
}

.products .sliders-container .swiper-container .swiper-button-prev {
  position: absolute;
  top: 80%;
  left: 15%;
}

@media screen and (min-width: 768px) {
  .products .sliders-container .swiper-container .swiper-button-prev {
    left: 17%;
  }
}

@media screen and (min-width: 1280px) {
  .products .sliders-container .swiper-container .swiper-button-prev {
    left: 14%;
  }
}

.products .sliders-container .swiper-container .swiper-button-prev i {
  font-size: 15px;
  line-height: 5.5px;
  border: 1px solid white;
  border-radius: 100%;
  color: white;
  padding: .6em;
}

@media screen and (min-width: 768px) {
  .products .sliders-container .swiper-container .swiper-button-prev i {
    padding: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .products .sliders-container .swiper-container .swiper-button-prev i {
    padding: 25px;
  }
}

.products .sliders-container .swiper-container .swiper-button-prev::after {
  content: '';
}

.products .sliders-container .swiper-container .swiper-button-next {
  position: absolute;
  top: 80%;
  left: 27%;
}

@media screen and (min-width: 1280px) {
  .products .sliders-container .swiper-container .swiper-button-next {
    left: 20%;
  }
}

.products .sliders-container .swiper-container .swiper-button-next i {
  font-size: 15px;
  line-height: 5.5px;
  border-radius: 100%;
  color: white;
  padding: .6em;
  background-color: #cbe346;
}

@media screen and (min-width: 768px) {
  .products .sliders-container .swiper-container .swiper-button-next i {
    padding: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .products .sliders-container .swiper-container .swiper-button-next i {
    padding: 25px;
  }
}

.products .sliders-container .swiper-container .swiper-button-next::after {
  content: '';
}

.site-footer {
  background-color: #cbe346;
  margin-top: -4px;
  padding: 24px 0 20px 0;
}

@media screen and (min-width: 992px) {
  .site-footer {
    padding: 64px 0 58px 0;
  }
}

.site-footer .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 992px) {
  .site-footer .wrapper {
    padding: 0 68px 0 78px;
  }
}

.site-footer .wrapper .navs-wrapper {
  flex: 0 1 451px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.site-footer .wrapper .navs-wrapper .footer-nav {
  display: none;
}

@media screen and (min-width: 992px) {
  .site-footer .wrapper .navs-wrapper .footer-nav {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
  }
  .site-footer .wrapper .navs-wrapper .footer-nav li {
    list-style: none;
  }
  .site-footer .wrapper .navs-wrapper .footer-nav li a {
    text-decoration: none;
    color: #2b3049;
    font-family: "HevelticaNeueBd";
    font-size: 13px;
    letter-spacing: 1.14px;
    transition: all .5s linear;
  }
  .site-footer .wrapper .navs-wrapper .footer-nav li a:hover {
    color: white;
  }
}

.site-footer .wrapper .navs-wrapper .social-icons {
  display: flex;
}

.site-footer .wrapper .navs-wrapper .social-icons li {
  margin-right: 11px;
  list-style: none;
  max-width: 23px;
}

.site-footer .wrapper .navs-wrapper .social-icons li a img {
  width: 100%;
}

.site-footer .wrapper .navs-wrapper .social-icons li a img:hover {
  filter: brightness(0.3);
}

.site-footer .wrapper .logo-wrapper {
  max-width: 55px;
}

@media screen and (min-width: 992px) {
  .site-footer .wrapper .logo-wrapper img {
    width: 55px;
    height: 55px;
  }
}
/*# sourceMappingURL=styles.css.map */